/* CSS for index.html */

header {
    background-color: #01425a;
    color: #fff;
    text-align: center;
    padding: 20px 0; /* Increased padding for header */
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #01425a;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
}


nav{
background-color: #01427a;
text-align: center;
padding: 10px 0;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px
}